<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<%= search_form_for @q do |f| %>
    <%= f.label :title_or_description_cont, 'キーワード' %>
    <%= f.search_field :title_or_description_cont, placeholder: 'キーワード' %>

    <%= f.label '期間' %>
    <%= f.date_field :created_at_gteq %>
    <span>〜</span>
    <%= f.date_field :created_at_lteq %>

    <%= f.label 'ステータス' %>
    <%= f.radio_button :status, '指定なし',checked: true %>指定なし
    <%= f.radio_button :status, 'todo' %>todo
    <%= f.radio_button :status, 'doing' %>doing
    <%= f.radio_button :status, 'done' %>done
    <%= f.submit 'Search' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>description</th>
      <th>Status</th>
      <th><%= sort_link(@q, :deadline , "Deadline")%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= task.status %></td>
        <td><%= task.deadline.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
